<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_vgIWPWrJT8IyW_zsohz2OtJkO-fGjIE</string>
	<key>GCM_SENDER_ID</key>
	<string>819393116532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chvma.pronounceword</string>
	<key>PROJECT_ID</key>
	<string>pronounce-word</string>
	<key>STORAGE_BUCKET</key>
	<string>pronounce-word.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819393116532:ios:88b55eb48ca1d7e3f79421</string>
</dict>
</plist>